* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

#root {
    background-color: #1A1B21;
    color: #F5F5F5;
    /* min-width: 320px; */
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 2px 5px black;
}

/*****************
Header Styles
******************/

header {
    text-align: center;
}

header img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

header h1 {
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
    margin: 1em 0 0.3em 0;
}

header h2 {
    font-size: 1.4rem;
    color: #F3BF99;
    font-weight: normal;
    margin: 0;
}

header a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    margin: 0.8em 0 2em 0;
    display: block;
}

header div {
    display: flex;
    justify-content: center;
    gap: 1.7em;
    margin-top: 1em;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: medium;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 9em;
    padding: 0.6em 3em;
}

header button img {
    width: 1em;
    margin-right: 0.7em;
    border-radius: 0;
}

header .email-btn {
    background-color: white;
}

header .linkedin-btn {
    background-color: #297FE5;
    color: white;
}

header .linkedin-btn img {
    transform: scale(1.5);
}


/*****************
Main Styles
******************/

main,
section {
    margin: 1em 4em 1em 4em;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 0;
}

p {
    color: #dcdcdc;
    line-height: 1.6;
    margin-top: 0.5em;
}

main {
    padding-top: 1em;
}

section {
    padding-bottom: 1.5em;;
}


/*****************
Footer Styles
******************/

footer {
    background-color: #161619;
    padding: 2em;
    border-radius: 0 0 15px 15px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 2.3em;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li img {
    width: 2.5em;
    cursor: pointer;
}